In [1]:
import pandas as pd

In [9]:
#ENEM 2011 was in SAS and TXT data type. I split them to open in low hardware SAS system and converted to CSV. 
#Now, I merging the splitted parts.
enem = ['NU_INSCRICAO','NU_ANO','PK_COD_ENTIDADE','IN_TP_ENSINO','IDADE','TP_SEXO','TP_COR_RACA','ST_CONCLUSAO','NU_NT_CN',
        'NU_NT_CH','NU_NT_LC','NU_NT_MT','NU_NOTA_REDACAO']

e1=pd.read_csv("~/data/enem/2011/DADOS/ENEM_2011_1.csv")
e2a=pd.read_csv("~/data/enem/2011/DADOS/ENEM_2011_2A.csv")
e2b1=pd.read_csv("~/data/enem/2011/DADOS/ENEM_2011_2b1.csv")
e2b2=pd.read_csv("~/data/enem/2011/DADOS/ENEM_2011_2b2.csv")
e3=pd.read_csv("~/data/enem/2011/DADOS/ENEM_2011_3.csv")

In [13]:
e2b = pd.merge(e2b1, e2b2, left_on='NU_INSCRICAO', right_on='NU_INSCRICAO', how='inner')
e2 = pd.merge(e2b, e2a, left_on='NU_INSCRICAO', right_on='NU_INSCRICAO', how='inner')

In [14]:
#merging the rest of the data parts
e12 = pd.merge(e1, e2, left_on='NU_INSCRICAO', right_on='NU_INSCRICAO', how='inner')
e = pd.merge(e12, e3, left_on='NU_INSCRICAO', right_on='NU_INSCRICAO', how='inner')

In [15]:
e.head()

,NU_INSCRICAO,NU_ANO,IDADE,TP_SEXO,COD_MUNICIPIO_INSC,NO_MUNICIPIO_INSC,UF_INSC,ST_CONCLUSAO,IN_TP_ENSINO,IN_CERTIFICADO,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,IN_CONCLUINTE_CENSO,COD_ETAPA_ENSINO_CENSO,COD_ENTIDADE_CENSO,COD_MUNICIPIO_ESC_CENSO,UF_ESC_CENSO,ID_DEPENDENCIA_ADM_CENSO,ID_LOCALIZACAO_CENSO,SIT_FUNC_CENSO
0,300000000001,2011,28,0,3548708,SAO BERNARDO DO CAMPO,SP,1,1.0,0,...,60,620.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,300000000002,2011,22,1,4125506,SAO JOSE DOS PINHAIS,PR,1,1.0,0,...,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,300000000003,2011,33,0,4314902,PORTO ALEGRE,RS,1,1.0,0,...,100,540.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,300000000004,2011,24,0,3300456,BELFORD ROXO,RJ,1,1.0,0,...,40,420.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,300000000005,2011,25,0,2304400,FORTALEZA,CE,1,1.0,0,...,60,500.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
e.to_csv('~/data/enem/2011/DADOS/MICRODADOS_ENEM_2011.csv')