In [1]:
import time
import pandas as pd
import warnings
import feather
warnings.filterwarnings('ignore')
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
pd.set_option('display.max_columns', None)

In [2]:
#Students of ENEM
E = pd.read_csv('~/data/enem/2013/DADOS/MICRODADOS_ENEM_2013.csv', sep=';', encoding="iso-8859-2")
E.drop(E.filter(regex='RESPOSTAS|GABARITO').columns, axis=1, inplace = True)

In [3]:
#School census data
CE =    pd.read_csv("~/data/censo/2013/DADOS/ESCOLAS.CSV", sep='|', encoding="iso-8859-2")

In [4]:
#Teacher census data by Braazilian mesoregion
CD_CO = pd.read_csv("~/data/censo/2013/DADOS/DOCENTES_CO.CSV", sep='|', encoding="iso-8859-2")
CD_NE = pd.read_csv("~/data/censo/2013/DADOS/DOCENTES_NORDESTE.CSV", sep='|', encoding="iso-8859-2")
CD_N =  pd.read_csv("~/data/censo/2013/DADOS/DOCENTES_NORTE.CSV", sep='|', encoding="iso-8859-2")
CD_SE = pd.read_csv("~/data/censo/2013/DADOS/DOCENTES_SUDESTE.CSV", sep='|', encoding="iso-8859-2")
CD_S =  pd.read_csv("~/data/censo/2013/DADOS/DOCENTES_SUL.CSV", sep='|', encoding="iso-8859-2")

#All teacher census data
CT = pd.concat([CD_CO, CD_NE, CD_N, CD_SE, CD_S])

In [8]:
#print(E.info(memory_usage='deep')) 
#print(CT.info(memory_usage='deep')) 
#print(CE.info(memory_usage='deep')) 
#

In [9]:
#dowcasting numeric feature of some data to improve memory usage.
obj_cols = E.filter(regex = 'Q\d*', axis=1).columns.to_list()
E[obj_cols] = E[obj_cols].astype('category')

num_cols = E.select_dtypes(include =['int']).columns
E[num_cols]= E[num_cols].apply(pd.to_numeric,downcast='unsigned')

In [10]:
flo_cols = E.select_dtypes(include =['float']).columns
E[flo_cols]= E[flo_cols].apply(pd.to_numeric,downcast='float')


#CT main problems
num_cols = CT.select_dtypes(include =['int']).columns
CT[num_cols]= CT[num_cols].apply(pd.to_numeric,downcast='unsigned')

flo_cols = CT.select_dtypes(include =['float']).columns
CT[flo_cols]= CT[flo_cols].apply(pd.to_numeric,downcast='float')

In [11]:
obj_cols = CT.select_dtypes(include =['object']).columns
CT[obj_cols] = CT[obj_cols].astype('category')

obj_cols = CE.select_dtypes(include =['object']).columns
CE[obj_cols] = CE[obj_cols].astype('category')

#ID columns = already known as categorical
id_cols = CE.filter(regex = 'ID', axis=1).columns.to_list()
CE[id_cols] = CE[id_cols].astype('category')

In [12]:
#removing faulty columns to convert the frame to fast type. This columns won't be useful.
CT.drop('FK_COD_AREA_OCDE_3', inplace = True, axis= 1)
CT.drop('FK_COD_AREA_OCDE_2', inplace = True, axis= 1)
CE.drop('COD_ORGAO_REGIONAL_INEP', inplace = True, axis= 1)

In [13]:
# 35% LOWER OF  INITIAL MEMORY USE
#print(E.info(memory_usage='deep')) 
#print(CT.info(memory_usage='deep')) 
#print(CE.info(memory_usage='deep'))

In [15]:
#Write on disk the typed and faster data.
E.to_feather('E.feather')
CT.reset_index().to_feather ('CT.feather')
CE.to_feather ('CE.feather')

### If it is not the first time, start from this point

In [112]:
import time
import pandas as pd
import numpy as np
import warnings
import feather
warnings.filterwarnings('ignore')
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
pd.set_option('display.max_columns', None)


ENEM = pd.read_feather('E.feather')
C_TEACHER = pd.read_feather('CT.feather')
C_SCHOOL  = pd.read_feather ('CE.feather')

There are many insignificant features to our work, like codes, PK, FK and out of context. 
Based on prior works and experience of especialists, will be taken off nonsense features. 
A study was carried out on the evolution and correspondence of these resources in the ENEM and Census
data for the period 2009-2018. See (featuresOrganisaton.xls)

In [113]:
teacher = ['FK_COD_DOCENTE', 'PK_COD_ENTIDADE','ID_ESPECIALIZACAO','ID_MESTRADO','ID_DOUTORADO']

C_TEACHER = C_TEACHER [teacher]

# New default column names for all Datasets
newNames = [
'CO_PROFESSOR',
'CO_ESCOLA',  
'IN_ESPECIALIZACAO',
'IN_MESTRADO',
'IN_DOUTORADO'
]
#Rename
C_TEACHER.columns = newNames
#convert Keys to Str
C_TEACHER.CO_PROFESSOR = C_TEACHER.CO_PROFESSOR.astype('int32')
C_TEACHER.CO_ESCOLA = C_TEACHER.CO_ESCOLA.astype('int32')

In [114]:
school = ['ANO_CENSO','PK_COD_ENTIDADE', 'FK_COD_MUNICIPIO','FK_COD_ESTADO','ID_DEPENDENCIA_ADM','ID_AGUA_INEXISTENTE',
                  'ID_ESGOTO_INEXISTENTE','ID_ENERGIA_INEXISTENTE',
                   'ID_LABORATORIO_INFORMATICA','ID_LABORATORIO_CIENCIAS','ID_SALA_ATENDIMENTO_ESPECIAL',
                   'ID_BIBLIOTECA','ID_SALA_LEITURA','ID_SANITARIO_FORA_PREDIO',
                   'ID_SANITARIO_PNE','ID_DEPENDENCIAS_PNE','NUM_SALAS_UTILIZADAS','NUM_EQUIP_TV',
                   'NUM_EQUIP_DVD','NUM_EQUIP_COPIADORA','NUM_EQUIP_IMPRESSORA','NUM_COMP_ADMINISTRATIVOS',
                   'NUM_COMP_ALUNOS','ID_INTERNET','ID_BANDA_LARGA','NUM_FUNCIONARIOS','ID_ALIMENTACAO']

C_SCHOOL = C_SCHOOL[school]


# New default column names for all Datasets
newNames = ['ANO_CENSO',
'CO_ESCOLA',
 'CO_MUNICIPIO',
 'CO_UF',
 'CO_DEPENDENCIA_ADM',
 'IN_AGUA_INEXISTENTE',
 'IN_ESGOTO_INEXISTENTE',
 'IN_ENERGIA_INEXISTENTE',
 'IN_LABORATORIO_INFORMATICA',
 'IN_LABORATORIO_CIENCIAS',
 'IN_SALA_ATENDIMENTO_ESPECIAL',
 'IN_BIBLIOTECA',
 'IN_SALA_LEITURA',
 'IN_BANHEIRO_FORA_PREDIO',
 'IN_BANHEIRO_PNE',
 'IN_DEPENDENCIAS_PNE',
 'QT_SALAS_UTILIZADAS',
 'QT_EQUIP_TV',
 'QT_EQUIP_DVD',
 'QT_EQUIP_COPIADORA',
 'QT_EQUIP_IMPRESSORA',
 'QT_COM_ADMINISTRATIVO',
 'QT_COMP_ALUNO',
 'IN_INTERNET',
 'IN_BANDA_LARGA',
 'QT_FUNCIONARIOS',
 'IN_ALIMENTACAO'
]

#Rename 
C_SCHOOL.columns =  newNames
#convert Keys to Str
C_SCHOOL.CO_ESCOLA = C_SCHOOL.CO_ESCOLA.astype('int32')
print('Checking year of censo',C_SCHOOL.ANO_CENSO.unique())
C_SCHOOL.drop('ANO_CENSO', axis=1, inplace=True)

Checking year of censo [2013]

In [115]:
enem = ['NU_ANO','COD_ESCOLA','IN_TP_ENSINO','IDADE','TP_SEXO','TP_COR_RACA','ST_CONCLUSAO','NOTA_CN',
        'NOTA_CH','NOTA_LC','NOTA_MT','NU_NOTA_REDACAO','Q001','Q002','Q004','Q003'
]


ENEM = ENEM[enem]

# New default column names for all Datasets
newNames = [
'CO_ANO',
'CO_ESCOLA',
'TP_ENSINO',
'NU_IDADE',
'TP_SEXO',
'TP_COR_RACA',
'TP_ST_CONCLUSAO',
'NU_NOTA_CN',
'NU_NOTA_CH',
'NU_NOTA_LC',
'NU_NOTA_MT',
'NU_NOTA_REDACAO',
'EDU_PAI',
'EDU_MAE',
'QT_PESSOAS_CASA',
'RENDA_MENSAL'
]

#Rename
ENEM.columns = newNames

### Stranger Patterns

In [116]:
#NO
for i in ENEM.select_dtypes(include =['category']).columns:
    print(i, list(ENEM[i].value_counts().index))

EDU_PAI ['B', 'E', 'C', 'I', 'A', 'G', 'D', 'F', 'H']
EDU_MAE ['B', 'E', 'C', 'G', 'D', 'A', 'H', 'I', 'F']
QT_PESSOAS_CASA [4, 3, 5, 2, 6, 7, 1, 8, 9, 10, 11, 12, 13, 14, 20, 15, 16, 18, 17, 19]
RENDA_MENSAL ['B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'A', 'K', 'J', 'Q', 'N', 'L', 'O', 'M', 'P']

In [117]:
for i in C_SCHOOL.select_dtypes(include =['category']).columns:
    print(i, list(C_SCHOOL[i].value_counts().index))

CO_DEPENDENCIA_ADM [3, 4, 2, 1]
IN_AGUA_INEXISTENTE [0.0, 1.0]
IN_ESGOTO_INEXISTENTE [0.0, 1.0]
IN_ENERGIA_INEXISTENTE [0.0, 1.0]
IN_LABORATORIO_INFORMATICA [0, 1]
IN_LABORATORIO_CIENCIAS [0, 1]
IN_SALA_ATENDIMENTO_ESPECIAL [0, 1]
IN_BIBLIOTECA [0, 1]
IN_SALA_LEITURA [0, 1]
IN_BANHEIRO_FORA_PREDIO [0, 1]
IN_BANHEIRO_PNE [0, 1]
IN_DEPENDENCIAS_PNE [0, 1]
IN_INTERNET [1.0, 0.0]
IN_BANDA_LARGA [1.0, 0.0]
IN_ALIMENTACAO [1.0, 0.0]

### Minimum Scope Definition

In [118]:
ENEM.dropna(inplace = True, axis=0, subset = ['CO_ESCOLA'])
ENEM.CO_ESCOLA = ENEM.CO_ESCOLA.astype('int32')

In [119]:
#should care about the nulls into scope filter features?
filters = (['TP_ST_CONCLUSAO', 'TP_ENSINO'])
ENEM[filters].isnull().sum()
#NO, IT'S LOWER

TP_ST_CONCLUSAO       0
TP_ENSINO          7297
dtype: int64

In [120]:
print('drop out',((ENEM.TP_ENSINO!= 1)|(ENEM.TP_ENSINO!= 3)).sum(), 'who not attend regular and prof approachs schools')
ENEM = ENEM.loc[((ENEM.TP_ENSINO== 1)|(ENEM.TP_ENSINO== 3))]
ENEM.drop('TP_ENSINO', inplace = True, axis =1)

drop out 1635848 who not attend regular and prof approachs schools

In [121]:
fields = (['NU_NOTA_CN', 'NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT', 'NU_NOTA_REDACAO'])
for i in fields:
    print ('null:', i, ENEM[i].isnull().sum())
    print ('zero:', i, (ENEM[i]== 0).sum())
    print( 'stranger "."', i , (ENEM[i]== '.').sum())
    print( 'stranger "*"', i , (ENEM[i]== '*').sum())
    
    #, "and", ENEM.I==0)

null: NU_NOTA_CN 180365
zero: NU_NOTA_CN 0
stranger "." NU_NOTA_CN 0
stranger "*" NU_NOTA_CN 0
null: NU_NOTA_CH 180365
zero: NU_NOTA_CH 0
stranger "." NU_NOTA_CH 0
stranger "*" NU_NOTA_CH 0
null: NU_NOTA_LC 202699
zero: NU_NOTA_LC 0
stranger "." NU_NOTA_LC 0
stranger "*" NU_NOTA_LC 0
null: NU_NOTA_MT 202699
zero: NU_NOTA_MT 0
stranger "." NU_NOTA_MT 0
stranger "*" NU_NOTA_MT 0
null: NU_NOTA_REDACAO 0
zero: NU_NOTA_REDACAO 223663
stranger "." NU_NOTA_REDACAO 0
stranger "*" NU_NOTA_REDACAO 0

In [122]:
ENEM.dropna(inplace = True, axis=0, subset=fields)
ENEM = ENEM.loc[~(ENEM[fields] == 0).any(axis=1)]

In [123]:
ENEM[fields] = ENEM[fields].astype('float32')

In [124]:
ENEM[fields].dtypes

NU_NOTA_CN         float32
NU_NOTA_CH         float32
NU_NOTA_LC         float32
NU_NOTA_MT         float32
NU_NOTA_REDACAO    float32
dtype: object

In [125]:
ENEM[fields].describe()

         NU_NOTA_CN    NU_NOTA_CH    NU_NOTA_LC    NU_NOTA_MT  NU_NOTA_REDACAO
count  1.224401e+06  1.224401e+06  1.224401e+06  1.224401e+06     1.224401e+06
mean   4.760624e+02  5.176617e+02  4.921592e+02  5.187007e+02     5.272636e+02
std    7.644112e+01  8.332471e+01  7.702876e+01  1.047230e+02     1.424099e+02
min    3.341000e+02  2.995000e+02  2.865000e+02  3.243000e+02     3.400000e+01
25%    4.183000e+02  4.592000e+02  4.376000e+02  4.392000e+02     4.400000e+02
50%    4.643000e+02  5.136000e+02  4.948000e+02  5.117000e+02     5.200000e+02
75%    5.246000e+02  5.725000e+02  5.467000e+02  5.866000e+02     6.200000e+02
max    8.871000e+02  8.855000e+02  8.133000e+02  9.715000e+02     1.000000e+03

In [126]:
#ONLY STUDENTS AT  17 -19 YEAR OLD. WE WANT TO GET ONLY REGULAR STUDENTS THAT ARE IN LAST YEAR OF SECONDARY SCHOOL. 
#THE MICRODADOS HAVE A FIELD TO CONTROL IT. BUT IT IS NOT CONFIDENCE,DUE A TURN OUT TEAACHERS THAT EXTEND ACADEMIC YEAR
print('null', ENEM.NU_IDADE.isnull().sum())
#firts, fill NA with the mean of student school
ENEM.NU_IDADE = ENEM.groupby(ENEM['CO_ESCOLA'])['NU_IDADE'].apply(lambda x: x.fillna(round(x.mean())))
ENEM.NU_IDADE = ENEM.NU_IDADE.astype('int32')
print('taking off',((ENEM.NU_IDADE <17)|(ENEM.NU_IDADE>19)).sum())
ENEM = ENEM.loc[(ENEM.NU_IDADE >16) &  (ENEM.NU_IDADE<20)]
ENEM.NU_IDADE.value_counts()

null 71
taking off 137955

17    636953
18    348404
19    101089
Name: NU_IDADE, dtype: int64

### Transform features to default categories

In [127]:
ENEM.QT_PESSOAS_CASA = ENEM.QT_PESSOAS_CASA.astype('int32')

In [128]:
fields = ['EDU_PAI', 'EDU_MAE', 'RENDA_MENSAL', 'TP_SEXO']
ENEM[fields].isnull().sum()

EDU_PAI         0
EDU_MAE         0
RENDA_MENSAL    0
TP_SEXO         0
dtype: int64

In [92]:
#Order relation, is better for numeric categories.
for i in fields:
    codes, uniques = pd.factorize(ENEM[i], sort=True)
    ENEM[i] = codes

In [93]:
ENEM['EDU_PAI_TEMP'] = ENEM['EDU_PAI']
ENEM['EDU_MAE_TEMP'] = ENEM['EDU_MAE']
ENEM['QT_PESSOAS_CASA_TEMP'] = ENEM['QT_PESSOAS_CASA']
ENEM['RENDA_MENSAL_TEMP'] = ENEM['RENDA_MENSAL']

In [94]:
# Paring with default categories

ENEM.loc[ENEM['EDU_PAI']==0, 'EDU_PAI_TEMP']=0
ENEM.loc[ENEM['EDU_PAI']==1, 'EDU_PAI_TEMP']=1
ENEM.loc[ENEM['EDU_PAI']==2, 'EDU_PAI_TEMP']=2
ENEM.loc[ENEM['EDU_PAI']==3, 'EDU_PAI_TEMP']=2
ENEM.loc[ENEM['EDU_PAI']==4, 'EDU_PAI_TEMP']=3
ENEM.loc[ENEM['EDU_PAI']==5, 'EDU_PAI_TEMP']=3
ENEM.loc[ENEM['EDU_PAI']==6, 'EDU_PAI_TEMP']=4
ENEM.loc[ENEM['EDU_PAI']==7, 'EDU_PAI_TEMP']=5
ENEM.loc[ENEM['EDU_PAI']==8, 'EDU_PAI_TEMP']=0


ENEM.loc[ENEM['EDU_MAE']==0, 'EDU_MAE_TEMP']=0
ENEM.loc[ENEM['EDU_MAE']==1, 'EDU_MAE_TEMP']=1
ENEM.loc[ENEM['EDU_MAE']==2, 'EDU_MAE_TEMP']=2
ENEM.loc[ENEM['EDU_MAE']==3, 'EDU_MAE_TEMP']=2
ENEM.loc[ENEM['EDU_MAE']==4, 'EDU_MAE_TEMP']=3
ENEM.loc[ENEM['EDU_MAE']==5, 'EDU_MAE_TEMP']=3
ENEM.loc[ENEM['EDU_MAE']==6, 'EDU_MAE_TEMP']=4
ENEM.loc[ENEM['EDU_MAE']==7, 'EDU_MAE_TEMP']=5
ENEM.loc[ENEM['EDU_MAE']==8, 'EDU_MAE_TEMP']=0


ENEM.loc[ENEM['QT_PESSOAS_CASA']==1, 'QT_PESSOAS_CASA_TEMP']=0
ENEM.loc[ENEM['QT_PESSOAS_CASA']==2, 'QT_PESSOAS_CASA_TEMP']=1
ENEM.loc[ENEM['QT_PESSOAS_CASA']==3, 'QT_PESSOAS_CASA_TEMP']=1
ENEM.loc[ENEM['QT_PESSOAS_CASA']==4, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']==5, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']==6, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']==7, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']>7, 'QT_PESSOAS_CASA_TEMP']=3

ENEM.loc[ENEM['RENDA_MENSAL']==0, 'RENDA_MENSAL_TEMP']=0
ENEM.loc[ENEM['RENDA_MENSAL']==1, 'RENDA_MENSAL_TEMP']=1
ENEM.loc[ENEM['RENDA_MENSAL']==2, 'RENDA_MENSAL_TEMP']=2
ENEM.loc[ENEM['RENDA_MENSAL']==3, 'RENDA_MENSAL_TEMP']=2
ENEM.loc[(ENEM['RENDA_MENSAL']>3) & (ENEM['RENDA_MENSAL']<8), 'RENDA_MENSAL_TEMP']=3
ENEM.loc[(ENEM['RENDA_MENSAL']>7) & (ENEM['RENDA_MENSAL']<13), 'RENDA_MENSAL_TEMP']=4
ENEM.loc[ENEM['RENDA_MENSAL']>12, 'RENDA_MENSAL_TEMP']=5

In [95]:
#back to original columns
ENEM['EDU_PAI'] = ENEM['EDU_PAI_TEMP']
ENEM['EDU_MAE'] = ENEM['EDU_MAE_TEMP']
ENEM['QT_PESSOAS_CASA'] = ENEM['QT_PESSOAS_CASA_TEMP']
ENEM['RENDA_MENSAL'] = ENEM['RENDA_MENSAL_TEMP']

In [96]:
#drop temps

ENEM.drop(['EDU_PAI_TEMP', 'EDU_MAE_TEMP', 'QT_PESSOAS_CASA_TEMP','RENDA_MENSAL_TEMP'], axis=1, inplace=True)

In [97]:
print('Total Students at ENEM:', ENEM.shape[0], 'of', ENEM.drop_duplicates('CO_ESCOLA').shape[0], 'schools')
print('Total Schools at Census:', C_SCHOOL.shape[0])
print('Total Teachers at Census:', C_TEACHER.drop_duplicates('CO_PROFESSOR').shape[0], 
      'One teacher can be more than one school')
       
            

#######################################
print('########### Only about Schools at ENEM:')

schoolsEnem = ENEM['CO_ESCOLA'].dropna().unique()
schoolsCenso = C_SCHOOL['CO_ESCOLA'].dropna().unique()
schoolsTeacher = C_TEACHER['CO_ESCOLA'].dropna().unique()
schoolsEnem2 = ENEM['CO_ESCOLA'].dropna()

enem_censo = np.setdiff1d(schoolsEnem ,schoolsCenso)
print('Schools at ENEM out of School Census', sum(np.isin(schoolsEnem, schoolsCenso, invert=True)))

print('Schools at ENEM out of Teacher Census', sum(np.isin(schoolsEnem, schoolsTeacher, invert=True)))
print('Schools at ENEM and School Census out of Teacher Census', sum(np.isin(enem_censo, schoolsTeacher)))

print('Students Wasted*****', sum(np.isin(schoolsEnem2, schoolsCenso, invert=True)))

Total Students at ENEM: 1086446 of 27539 schools
Total Schools at Census: 268166
Total Teachers at Census: 2479986 One teacher can be more than one school
########### Only about Schools at ENEM:
Schools at ENEM out of School Census 15206
Schools at ENEM out of Teacher Census 15473
Schools at ENEM and School Census out of Teacher Census 0
Students Wasted***** 592407

### New Features

ENEM

In [98]:
#Final Media, Target
ENEM['NU_NOTA_GERAL'] = (ENEM.NU_NOTA_CN + ENEM.NU_NOTA_CH + ENEM.NU_NOTA_LC + ENEM.NU_NOTA_MT + ENEM.NU_NOTA_REDACAO)/5
ENEM['TARGET'] = pd.qcut (ENEM.NU_NOTA_GERAL, 4, labels = [1,2,3,4]).map(lambda x : 0 if x!=4 else 1) 
print((ENEM.TARGET==0).sum()/(ENEM.TARGET.count())*100, '% lowers quartis')

75.00041419453889 % lowers quartis

SCHOOL CENSUS - Itś better include after merge all datasets years.

TEACHER CENSUS

In [99]:
C_TEACHER.isnull().sum()

CO_PROFESSOR         0
CO_ESCOLA            0
IN_ESPECIALIZACAO    0
IN_MESTRADO          0
IN_DOUTORADO         0
dtype: int64

In [100]:
print('number of teacher who work at an school listed at ENEM and do not have study level assigned:',
      C_TEACHER['CO_ESCOLA'].isin(ENEM['CO_ESCOLA']).sum())


#lets fill with lower level

C_TEACHER['IN_ESPECIALIZACAO'].fillna(0, inplace = True)
C_TEACHER['IN_MESTRADO'].fillna(0, inplace = True)
C_TEACHER['IN_DOUTORADO'].fillna(0, inplace = True)

number of teacher who work at an school listed at ENEM and do not have study level assigned: 0

In [101]:
#It's necessary drop duplicates whose are teachers in the same school but in different classes. 
#This way, the teacher appear just one time in each school. 
print('before',C_TEACHER.shape[0])
C_TEACHER.drop_duplicates(subset=['CO_PROFESSOR', 'CO_ESCOLA'], inplace=True)
C_TEACHER.drop('CO_PROFESSOR', axis=1, inplace = True)
print('after',C_TEACHER.shape[0])

before 11471572
after 3126274

In [102]:
C_TEACHER['TITULACAO'] = 0


C_TEACHER.loc[(C_TEACHER.IN_ESPECIALIZACAO==1.0) & (C_TEACHER.IN_MESTRADO==0.0)& 
             (C_TEACHER.IN_DOUTORADO ==0.0), 'TITULACAO'] = 1

C_TEACHER.loc[(C_TEACHER.IN_ESPECIALIZACAO==1.0) & (C_TEACHER.IN_MESTRADO==1.0)& 
             (C_TEACHER.IN_DOUTORADO ==0.0), 'TITULACAO'] = 2

C_TEACHER.loc[(C_TEACHER.IN_ESPECIALIZACAO==0.0) & (C_TEACHER.IN_MESTRADO==1.0)& 
             (C_TEACHER.IN_DOUTORADO ==0.0), 'TITULACAO'] = 2

C_TEACHER.loc[(C_TEACHER.IN_DOUTORADO ==1.0), 'TITULACAO'] = 3

SUM= C_TEACHER.groupby('CO_ESCOLA')['TITULACAO'].transform(sum)
COUNT =  C_TEACHER.groupby('CO_ESCOLA')['TITULACAO'].transform('count')
C_TEACHER['TITULACAO'] = (SUM)/(COUNT*3)   

#transformin to school grain
C_TEACHER.drop_duplicates('CO_ESCOLA', inplace = True)

## STUDENT GRAIN

In [103]:
# teacher to Schoool Grain
print('C_SCHOOL',C_SCHOOL.shape)
CENSO19 = pd.merge(C_SCHOOL, C_TEACHER, on = 'CO_ESCOLA', how = 'inner')
print('C_SCHOOL + C_TEACHER',CENSO19.shape)

#Now, all to Student Grain
print('ENEM',ENEM.shape)
ENEM_CENSO_19 = pd.merge(ENEM, CENSO19, on = 'CO_ESCOLA', how = 'inner')
print('FINAL',ENEM_CENSO_19.shape)

ENEM_CENSO_19.to_feather('2009_STUDENT.feather')

C_SCHOOL (268166, 26)
C_SCHOOL + C_TEACHER (192678, 30)
ENEM (1086446, 17)
FINAL (491717, 46)

In [104]:
ENEM_CENSO_19.dtypes

CO_ANO                            uint16
CO_ESCOLA                          int32
NU_IDADE                           int32
TP_SEXO                            int64
TP_COR_RACA                        uint8
TP_ST_CONCLUSAO                    uint8
NU_NOTA_CN                       float32
NU_NOTA_CH                       float32
NU_NOTA_LC                       float32
NU_NOTA_MT                       float32
NU_NOTA_REDACAO                  float32
EDU_PAI                            int64
EDU_MAE                            int64
QT_PESSOAS_CASA                    int32
RENDA_MENSAL                       int64
NU_NOTA_GERAL                    float32
TARGET                             int64
CO_MUNICIPIO                       int64
CO_UF                              int64
CO_DEPENDENCIA_ADM              category
IN_AGUA_INEXISTENTE             category
IN_ESGOTO_INEXISTENTE           category
IN_ENERGIA_INEXISTENTE          category
IN_LABORATORIO_INFORMATICA      category
IN_LABORATORIO_CIENCIAS         category
IN_SALA_ATENDIMENTO_ESPECIAL    category
IN_BIBLIOTECA                   category
IN_SALA_LEITURA                 category
IN_BANHEIRO_FORA_PREDIO         category
IN_BANHEIRO_PNE                 category
IN_DEPENDENCIAS_PNE             category
QT_SALAS_UTILIZADAS              float64
QT_EQUIP_TV                        int64
QT_EQUIP_DVD                       int64
QT_EQUIP_COPIADORA                 int64
QT_EQUIP_IMPRESSORA                int64
QT_COM_ADMINISTRATIVO            float64
QT_COMP_ALUNO                    float64
IN_INTERNET                     category
IN_BANDA_LARGA                  category
QT_FUNCIONARIOS                  float64
IN_ALIMENTACAO                  category
IN_ESPECIALIZACAO                  uint8
IN_MESTRADO                        uint8
IN_DOUTORADO                       uint8
TITULACAO                        float64
dtype: object

In [105]:
C_TEACHER.isnull().sum()

CO_ESCOLA            0
IN_ESPECIALIZACAO    0
IN_MESTRADO          0
IN_DOUTORADO         0
TITULACAO            0
dtype: int64

## SCHOOL GRAIN

In [106]:
fields = ['TP_SEXO', 'TP_COR_RACA', 'EDU_PAI', 'EDU_MAE','QT_PESSOAS_CASA', 'RENDA_MENSAL', 'NU_IDADE', 'NU_NOTA_CN',
             'NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO','NU_NOTA_GERAL' ]

for i in fields:   
    
            ENEM[i] = ENEM.groupby('CO_ESCOLA')[i].transform('mean')

In [107]:
# SCHOOL GRAIN AND SHOW THE NEW NOTA DISTRIBUTION
ENEM.drop_duplicates('CO_ESCOLA', inplace=True)
print((ENEM.TARGET==0).sum()/(ENEM.TARGET.count())*100, '% lowers quartis')

81.03053850902356 % lowers quartis

In [108]:
#recalculating target for new  Nota Geral distribution 
ENEM['TARGET'] = pd.qcut (ENEM.NU_NOTA_GERAL, 4, labels = [1,2,3,4]).map(lambda x : 0 if x!=4 else 1) 
print((ENEM.TARGET==0).sum()/(ENEM.TARGET.count())*100, '% lowers quartis')

74.9990921965213 % lowers quartis

In [109]:
print('censo before',CENSO19.shape)
print('enem_school before', ENEM.shape)
CENSO_ENEM_19 = pd.merge(CENSO19, ENEM, on='CO_ESCOLA', how='inner')
print(CENSO_ENEM_19.shape)

CENSO_ENEM_19.to_feather('2009_SCHOOL.feather')

censo before (192678, 30)
enem_school before (27539, 17)
(12066, 46)

In [110]:
CENSO_ENEM_19.isnull().sum()

CO_ESCOLA                         0
CO_MUNICIPIO                      0
CO_UF                             0
CO_DEPENDENCIA_ADM                0
IN_AGUA_INEXISTENTE               0
IN_ESGOTO_INEXISTENTE             0
IN_ENERGIA_INEXISTENTE            0
IN_LABORATORIO_INFORMATICA        0
IN_LABORATORIO_CIENCIAS           0
IN_SALA_ATENDIMENTO_ESPECIAL      0
IN_BIBLIOTECA                     0
IN_SALA_LEITURA                   0
IN_BANHEIRO_FORA_PREDIO           0
IN_BANHEIRO_PNE                   0
IN_DEPENDENCIAS_PNE               0
QT_SALAS_UTILIZADAS               0
QT_EQUIP_TV                       0
QT_EQUIP_DVD                      0
QT_EQUIP_COPIADORA                0
QT_EQUIP_IMPRESSORA               0
QT_COM_ADMINISTRATIVO           282
QT_COMP_ALUNO                   966
IN_INTERNET                     161
IN_BANDA_LARGA                  728
QT_FUNCIONARIOS                   0
IN_ALIMENTACAO                    0
IN_ESPECIALIZACAO                 0
IN_MESTRADO                       0
IN_DOUTORADO                      0
TITULACAO                         0
CO_ANO                            0
NU_IDADE                          0
TP_SEXO                           0
TP_COR_RACA                       0
TP_ST_CONCLUSAO                   0
NU_NOTA_CN                        0
NU_NOTA_CH                        0
NU_NOTA_LC                        0
NU_NOTA_MT                        0
NU_NOTA_REDACAO                   0
EDU_PAI                           0
EDU_MAE                           0
QT_PESSOAS_CASA                   0
RENDA_MENSAL                      0
NU_NOTA_GERAL                     0
TARGET                            0
dtype: int64