In [1]:
import pandas as pd

In [2]:
#ENEM 2011 was in SAS and TXT data type. I split them to open in low hardware SAS system and converted to CSV. 
#Now, I merging the splitted parts.

e1=pd.read_csv("ENEM_2011_1.csv")
e2a=pd.read_csv("ENEM_2011_2A.csv")
e2b1=pd.read_csv("ENEM_2011_2b1.csv")
e2b2=pd.read_csv("ENEM_2011_2b2.csv")
e3=pd.read_csv("ENEM_2011_3.csv")

/home/rogerio.luiz/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (3,4,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
e2b = pd.merge(e2b1, e2b2, left_on='NU_INSCRICAO', right_on='NU_INSCRICAO', how='inner')
e2 = pd.merge(e2b, e2a, left_on='NU_INSCRICAO', right_on='NU_INSCRICAO', how='inner')

In [4]:
print (e1.info())
print (e2.info())
print(e3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5380856 entries, 0 to 5380855
Data columns (total 13 columns):
NU_INSCRICAO          int64
NU_ANO                int64
IDADE                 int64
TP_SEXO               int64
COD_MUNICIPIO_INSC    int64
NO_MUNICIPIO_INSC     object
UF_INSC               object
ST_CONCLUSAO          int64
IN_TP_ENSINO          float64
IN_CERTIFICADO        int64
IN_BRAILLE            int64
IN_AMPLIADA           int64
IN_LEDOR              int64
dtypes: float64(1), int64(10), object(2)
memory usage: 533.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5380856 entries, 0 to 5380855
Data columns (total 38 columns):
NU_INSCRICAO               int64
PK_COD_ENTIDADE            float64
COD_MUNICIPIO_ESC          float64
NO_MUNICIPIO_ESC           object
UF_ESC                     object
ID_DEPENDENCIA_ADM         float64
ID_LOCALIZACAO             float64
SIT_FUNC                   float64
COD_MUNICIPIO_PROVA        float64
NO_MUNICIPIO_PROVA         object
UF_MUNICIPIO_PROVA         object
IN_PRESENCA_CN             int64
IN_PRESENCA_CH             int64
IN_PRESENCA_LC             int64
IN_PRESENCA_MT             int64
NU_NT_CN                   float64
NU_NT_CH                   float64
NU_NT_LC                   float64
NU_NT_MT                   float64
TP_LINGUA                  int64
IN_ACESSO                  int64
IN_TRANSCRICAO             int64
IN_LIBRAS                  int64
IN_UNIDADE_PRISIONAL       int64
IN_BAIXA_VISAO             int64
IN_CEGUEIRA                int64
IN_DEFICIENCIA_AUDITIVA    int64
IN_DEFICIENCIA_FISICA      int64
IN_DEFICIENCIA_MENTAL      int64
IN_DEFICIT_ATENCAO         int64
IN_DISLEXIA                int64
IN_GESTANTE                int64
IN_LACTANTE                int64
IN_LEITURA_LABIAL          int64
IN_SABATISTA               int64
IN_SURDEZ                  int64
TP_ESTADO_CIVIL            float64
TP_COR_RACA                float64
dtypes: float64(12), int64(22), object(4)
memory usage: 1.6+ GB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5380856 entries, 0 to 5380855
Data columns (total 16 columns):
NU_INSCRICAO                int64
IN_STATUS_REDACAO           object
NU_NOTA_COMP1               float64
NU_NOTA_COMP2               float64
NU_NOTA_COMP3               int64
NU_NOTA_COMP4               int64
NU_NOTA_COMP5               int64
NU_NOTA_REDACAO             float64
IN_CONCLUINTE_CENSO         int64
COD_ETAPA_ENSINO_CENSO      float64
COD_ENTIDADE_CENSO          float64
COD_MUNICIPIO_ESC_CENSO     float64
UF_ESC_CENSO                object
ID_DEPENDENCIA_ADM_CENSO    float64
ID_LOCALIZACAO_CENSO        float64
SIT_FUNC_CENSO              float64
dtypes: float64(9), int64(5), object(2)
memory usage: 656.8+ MB
None

### The avalilable hardware could not process this datasets. Let 's get downcasting them

In [5]:
#dowcasting numeric feature to improve memory usage.
num_cols = e1.select_dtypes(include =['int']).columns
e1[num_cols]= e1[num_cols].apply(pd.to_numeric,downcast='unsigned')

In [6]:
#downside float features to improve memory usage
flo_cols = e1.select_dtypes(include =['float']).columns
e1[flo_cols]= e1[flo_cols].apply(pd.to_numeric,downcast='float')

In [7]:
num_cols = e2.select_dtypes(include =['int']).columns
e2[num_cols]= e2[num_cols].apply(pd.to_numeric,downcast='unsigned')

In [8]:
#downside float features to improve memory usage
flo_cols = e2.select_dtypes(include =['float']).columns
e2[flo_cols]= e2[flo_cols].apply(pd.to_numeric,downcast='float')

In [9]:
num_cols = e3.select_dtypes(include =['int']).columns
e3[num_cols]= e3[num_cols].apply(pd.to_numeric,downcast='unsigned')

In [10]:
#downside float features to improve memory usage
flo_cols = e3.select_dtypes(include =['float']).columns
e3[flo_cols]= e3[flo_cols].apply(pd.to_numeric,downcast='float')

In [11]:
#merging the rest of the data parts
e12 = pd.merge(e1, e2, left_on='NU_INSCRICAO', right_on='NU_INSCRICAO', how='inner')
e = pd.merge(e12, e3, left_on='NU_INSCRICAO', right_on='NU_INSCRICAO', how='inner')

In [12]:
#checking the memeroy use for each dataset now!
print (e1.info())
print (e2.info())
print(e3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5380856 entries, 0 to 5380855
Data columns (total 13 columns):
NU_INSCRICAO          uint64
NU_ANO                uint16
IDADE                 uint8
TP_SEXO               uint8
COD_MUNICIPIO_INSC    uint32
NO_MUNICIPIO_INSC     object
UF_INSC               object
ST_CONCLUSAO          uint8
IN_TP_ENSINO          float32
IN_CERTIFICADO        uint8
IN_BRAILLE            uint8
IN_AMPLIADA           uint8
IN_LEDOR              uint8
dtypes: float32(1), object(2), uint16(1), uint32(1), uint64(1), uint8(7)
memory usage: 210.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5380856 entries, 0 to 5380855
Data columns (total 38 columns):
NU_INSCRICAO               uint64
PK_COD_ENTIDADE            float32
COD_MUNICIPIO_ESC          float32
NO_MUNICIPIO_ESC           object
UF_ESC                     object
ID_DEPENDENCIA_ADM         float32
ID_LOCALIZACAO             float32
SIT_FUNC                   float32
COD_MUNICIPIO_PROVA        float32
NO_MUNICIPIO_PROVA         object
UF_MUNICIPIO_PROVA         object
IN_PRESENCA_CN             uint8
IN_PRESENCA_CH             uint8
IN_PRESENCA_LC             uint8
IN_PRESENCA_MT             uint8
NU_NT_CN                   float32
NU_NT_CH                   float32
NU_NT_LC                   float32
NU_NT_MT                   float32
TP_LINGUA                  uint8
IN_ACESSO                  uint8
IN_TRANSCRICAO             uint8
IN_LIBRAS                  uint8
IN_UNIDADE_PRISIONAL       uint8
IN_BAIXA_VISAO             uint8
IN_CEGUEIRA                uint8
IN_DEFICIENCIA_AUDITIVA    uint8
IN_DEFICIENCIA_FISICA      uint8
IN_DEFICIENCIA_MENTAL      uint8
IN_DEFICIT_ATENCAO         uint8
IN_DISLEXIA                uint8
IN_GESTANTE                uint8
IN_LACTANTE                uint8
IN_LEITURA_LABIAL          uint8
IN_SABATISTA               uint8
IN_SURDEZ                  uint8
TP_ESTADO_CIVIL            float32
TP_COR_RACA                float32
dtypes: float32(12), object(4), uint64(1), uint8(21)
memory usage: 600.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5380856 entries, 0 to 5380855
Data columns (total 16 columns):
NU_INSCRICAO                uint64
IN_STATUS_REDACAO           object
NU_NOTA_COMP1               float32
NU_NOTA_COMP2               float32
NU_NOTA_COMP3               uint8
NU_NOTA_COMP4               uint8
NU_NOTA_COMP5               uint8
NU_NOTA_REDACAO             float32
IN_CONCLUINTE_CENSO         uint8
COD_ETAPA_ENSINO_CENSO      float32
COD_ENTIDADE_CENSO          float32
COD_MUNICIPIO_ESC_CENSO     float32
UF_ESC_CENSO                object
ID_DEPENDENCIA_ADM_CENSO    float32
ID_LOCALIZACAO_CENSO        float32
SIT_FUNC_CENSO              float32
dtypes: float32(9), object(2), uint64(1), uint8(4)
memory usage: 328.4+ MB
None

In [13]:
#for the new dataset, the memory use seems half as much as before
e.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5380856 entries, 0 to 5380855
Data columns (total 65 columns):
NU_INSCRICAO                uint64
NU_ANO                      uint16
IDADE                       uint8
TP_SEXO                     uint8
COD_MUNICIPIO_INSC          uint32
NO_MUNICIPIO_INSC           object
UF_INSC                     object
ST_CONCLUSAO                uint8
IN_TP_ENSINO                float32
IN_CERTIFICADO              uint8
IN_BRAILLE                  uint8
IN_AMPLIADA                 uint8
IN_LEDOR                    uint8
PK_COD_ENTIDADE             float32
COD_MUNICIPIO_ESC           float32
NO_MUNICIPIO_ESC            object
UF_ESC                      object
ID_DEPENDENCIA_ADM          float32
ID_LOCALIZACAO              float32
SIT_FUNC                    float32
COD_MUNICIPIO_PROVA         float32
NO_MUNICIPIO_PROVA          object
UF_MUNICIPIO_PROVA          object
IN_PRESENCA_CN              uint8
IN_PRESENCA_CH              uint8
IN_PRESENCA_LC              uint8
IN_PRESENCA_MT              uint8
NU_NT_CN                    float32
NU_NT_CH                    float32
NU_NT_LC                    float32
NU_NT_MT                    float32
TP_LINGUA                   uint8
IN_ACESSO                   uint8
IN_TRANSCRICAO              uint8
IN_LIBRAS                   uint8
IN_UNIDADE_PRISIONAL        uint8
IN_BAIXA_VISAO              uint8
IN_CEGUEIRA                 uint8
IN_DEFICIENCIA_AUDITIVA     uint8
IN_DEFICIENCIA_FISICA       uint8
IN_DEFICIENCIA_MENTAL       uint8
IN_DEFICIT_ATENCAO          uint8
IN_DISLEXIA                 uint8
IN_GESTANTE                 uint8
IN_LACTANTE                 uint8
IN_LEITURA_LABIAL           uint8
IN_SABATISTA                uint8
IN_SURDEZ                   uint8
TP_ESTADO_CIVIL             float32
TP_COR_RACA                 float32
IN_STATUS_REDACAO           object
NU_NOTA_COMP1               float32
NU_NOTA_COMP2               float32
NU_NOTA_COMP3               uint8
NU_NOTA_COMP4               uint8
NU_NOTA_COMP5               uint8
NU_NOTA_REDACAO             float32
IN_CONCLUINTE_CENSO         uint8
COD_ETAPA_ENSINO_CENSO      float32
COD_ENTIDADE_CENSO          float32
COD_MUNICIPIO_ESC_CENSO     float32
UF_ESC_CENSO                object
ID_DEPENDENCIA_ADM_CENSO    float32
ID_LOCALIZACAO_CENSO        float32
SIT_FUNC_CENSO              float32
dtypes: float32(22), object(8), uint16(1), uint32(1), uint64(1), uint8(32)
memory usage: 2.9 GB

In [14]:
e.head()

,NU_INSCRICAO,NU_ANO,IDADE,TP_SEXO,COD_MUNICIPIO_INSC,NO_MUNICIPIO_INSC,UF_INSC,ST_CONCLUSAO,IN_TP_ENSINO,IN_CERTIFICADO,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,IN_CONCLUINTE_CENSO,COD_ETAPA_ENSINO_CENSO,COD_ENTIDADE_CENSO,COD_MUNICIPIO_ESC_CENSO,UF_ESC_CENSO,ID_DEPENDENCIA_ADM_CENSO,ID_LOCALIZACAO_CENSO,SIT_FUNC_CENSO
0,300000000001,2011,28,0,3548708,SAO BERNARDO DO CAMPO,SP,1,1.0,0,...,60,620.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,300000000002,2011,22,1,4125506,SAO JOSE DOS PINHAIS,PR,1,1.0,0,...,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,300000000003,2011,33,0,4314902,PORTO ALEGRE,RS,1,1.0,0,...,100,540.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,300000000004,2011,24,0,3300456,BELFORD ROXO,RJ,1,1.0,0,...,40,420.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,300000000005,2011,25,0,2304400,FORTALEZA,CE,1,1.0,0,...,60,500.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
e.to_csv('MICRODADOS_ENEM_2011.csv')